<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>BIENVENID@ AL SITIO OFICIAL DE LA KIM</h1>
        </div>
        <div class="col-12 d-flex justify-content-center"><img class="kim-home" src="/img/lakim.jpeg" alt="LA KIM">
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a class="btn btn-light" href="/about" role="button">GET TO KNOW ME</a>
        </div>
        <div class="col-6 d-flex justify-content-start3">
            <a class="btn btn-dark" href="/sisters" role="button">MEET MY SISTERS</a>
        </div>
    </div>


</div>